body {
    box-sizing: border-box;
    font-size: 16px;
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: "Comic Sans MS", "Trebuchet MS", Verdana, sans-serif;
    color: #5C007A;
}

h1 {
    margin-bottom: 30px;
    color: #BB00FA;
    font-size: 1.75em;
}

p {
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #BB00FA;
}

.row {
    width: 100%;
    position: relative;
}


/** HEADER **/

.panel-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CCFF99;
    border-top: 0;
    width: 100%;
}

#nav-div {
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    border: 0px;
}

.navbar-header {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.navbar-brand {
    padding-top: 15px;
    padding-left: 30px;
    background-color: #CCFF99;
    border: 0px;
    width: 100%;
    font-size: 1.5em;
}

.navbar-default .navbar-brand:hover {
    background-color: #CCFF99;
    color: #BB00FA;
}

.navbar-brand p {
    color: ##BB00FA;
}

.navbar-header button.navbar-toggle {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid #BB00FA;
}

.navbar-header button.navbar-toggle:hover,
.navbar-header button.navbar-toggle:focus {
    background-color: #FFFF99;
}

#collapsable-nav {
    background-color: #CCFF99;
    color: #BB00FA;
    border: 0px;
}


/* MAIN */


/* END HEADER */

.title_chicken,
.title_beef,
.title_sushi {
    font-size: 1.25em;
    text-align: center;
    display: inline;
    position: absolute;
    right: 0px;
    width: 200px;
    border-bottom: 1px #794DFF solid;
    border-left: 1px #794DFF solid;
    margin-top: 0px;
    color: #B8002E;
}

.title_chicken {
    background: #FFD966;
}

.title_beef {
    background: #FF8C66;
}

.title_sushi {
    background: #FF668C;
}

.text {
    position: relative;
    padding-top: 50px;
    margin: 0;
}


/* FOOTER */

.panel-footer {
    margin-top: 30px;
    margin-bottom: 35px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #CCFF99;
    color: ##BB00FA;
    border-top: 0;
    width: 100%;
}


/* END FOOTER */


/********** All devices **********/

@media (min-width: 1px) {
    .col-xs-12 {
        float: left;
        position: relative;
        width: 99%;
        margin-left: 1%;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 1px solid #794DFF;
        background: #ABFF8F;
        padding: 0px 10px 15px;
    }
}
